{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Gramedia Lite</title>
    <meta
      name="description"
      content="A simple search bar made with AJAX and Django"
    />
    <meta name="author" content="Teofanus Gary Setiawan" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'ajax_search/css/index.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'ajax_search/js/index.js' %}"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}" />
  </head>
  <body>
    <header id="title" class="text-6xl md:text-8xl text-center mt-8 font-bold animate-pulse">
      Gramedia Lite
    </header>
    <section id="search-bar" class="my-12 flex items-center justify-center rounded-lg">
      <input
        id="search"
        name="search"
        type="text"
        placeholder="Press 'Enter' to focus"
        aria-label="Search"
        class="rounded-lg w-3/4 py-4 text-center mx-auto"
      />
    </section>

    <p id="empty-result" class="text-2xl text-center hidden">No results found!</p>

    <section id="results" class="mx-8 lg:mx-32 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row gap-4 text-center my-4"></section>

    <template id="result-template">
      <div id="result" class="rounded-lg overflow-hidden transition transform duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
        <div class="relative pb-64">
          <img src="" class="absolute h-full w-full object-cover inset-y-0 left-0">
        </div>
        <div class="p-6">
          <header class="font-bold text-lg truncate">Title</header>
          <h5 class="truncate"></h5>
          <div class="flex justify-center gap-x-4 mt-2">
            <a id="preview" href="" target="_blank" rel="noopener noreferrer">
              <button class="py-1 px-3 rounded">
                Preview
              </button>
            </a>
            <a id="buy" href="" target="_blank" rel="noopener noreferrer">
              <button class="py-1 px-3 rounded">
                Buy
              </button>
            </a>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
