:root {
    --black: #1a1a1d;
    --gray: #4E4E50;
    --primary: #C3073F;
    --secondary: #950740;
    --tertiary: #6F2232;
}

body {
    font-family: Raleway;
    background-color: var(--black);
    color: var(--primary);
}

input {
    background-color: var(--gray);
    appearance: none;
    line-height: 1.25;
    color: #FEFEFE;
}

form input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

button {
    background-color: var(--gray);
    color: #FEFEFE;
}

#result {
    background-color: var(--gray);
    color: #FEFEFE;
}

button {
    background-color: var(--secondary);
}
